cityscapesscripts==2.2.0
dvc==2.5.0
fastds==0.1.8
gluoncv==0.10.3
jupyter-http-over-ws==0.0.8
keras-segmentation==0.3.0
mlflow==1.18.0
orbit==0.2
pip-chill==1.0.1
pycocotools==2.0.2
pyqt5==5.15.4
pytest-cov==2.12.1
python-coveralls==2.9.3
sdf==0.3.5
tensorflow==2.5.0
